.heading
{
    background-color: #e1aafe;
    padding-right: 100%;
    outline: 10px solid #e1aafe;
}

.logo
{
    align-content: middle;
    height: 100px;
    width: 100px;
}

.panel
{
    width: 200px;
    background-color: #e1aafe;
    margin-right: 20px;
	outline : 8px solid #e1aafe;
	height: 100%;
	
}

.main
{
    display: flex;
    margin-top: 18px;
	width: 100%
}

.panel-btn
{
	background-color: #B7AAFE;
	width: 100%;
	height: 20%;
	font-family: 'Magneto';
	border-radius: 20px;
	border-color: #aac7fe;
}

body
{
    color: #303030;
    background-color: #f8f2e4;
    font-family: 'Franklin Gothic Demi', 'Arial Narrow', Arial, sans-serif
}

h1
{
    font-family: 'Magneto', Arial, sans-serif ;
}


caption
{
	caption-side: bottom;
}


.colonne tbody tr td
{
	border-radius:100%;
    outline: 100%;	
	background-color:white;
}

.colonne tbody tr.jetonJoueur1 td
{
	background-color:yellow;
}

.colonne tbody tr.jetonJoueur2 td
{	
	background-color:red;
}

.plcjetons tr td
{
	border-radius:100%;
    outline: 100%;	
	background-color: none;
}


.plcjetons
{
	height: 70px;
	width: 490px;
}


.grille
{
	display:flex;
}


table
{
	width: 70px;
	height: 420px;
}

.colonne
{
	background-color:blue;
}

.colonne:hover
{
	background-color:#8A90FF;
}

.confusion tbody tr.jetonJoueur1 td
{	
	background-color:grey;
}

.confusion tbody tr.jetonJoueur2 td
{	
	background-color:grey;
}
