body {
	margin: 0;
    min-height: 100vh;
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: auto 100%
}

.heading
{
    background-color: #57288a;
    padding-right: 100%;
    outline: 10px solid #371559;
    display: flex;
}

.logo
{
    align-content: middle;
    height: 100px;
    width: 100px;
}

.panel
{
    width: 200px;
    background-color: #57288a;
    margin-right: 20px;
	outline : 8px solid #57288a;
	height: 100%;
	
}

.main
{
    display: flex;
    margin-top: 18px;
	width: 100%
}

.panel-btn
{
	background-color: #8543D4;
	width: 100%;
	height: 20%;
	font-family: 'Magneto';
	border-radius: 20px;
	border: 2px solid #371559;
	color: #FCDEFD;
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
	box-shadow:  0 6px 0 #371559;
	transition: all 0.01s;
	margin-bottom: 6px;
}

.panel-btn:active
{
	transform: translateY(4px);
	box-shadow: 0 2px 0 #371559;
}

.panel-btn:hover
{
	background-color: #9B5CF0;
}

body
{
    color: white;
    background-color: black;
    font-family: 'Franklin Gothic Demi', 'Arial Narrow', 'Arial', 'sans-serif'
}

h1
{
    font-family: 'Magneto', 'Arial', 'sans-serif' ;
	color: white;
}


caption
{
	caption-side: bottom;
	color: white;
}


.colonne tbody tr td
{
	border-radius:100%;
    outline: 100%;	
	background-color:white;
}

.colonne tbody tr.jetonJoueur1 td
{
	background-color:yellow;
}

.colonne tbody tr.jetonJoueur2 td
{	
	background-color:red;
}

.plcjetons tr td
{
	border-radius:100%;
    outline: none;	
	background-color: transparent;
}


.plcjetons
{
	height: 70px;
	width: 490px;
}


.grille
{
	display:flex;
}


table
{
	width: 70px;
	height: 420px;
}

.colonne
{
	background-color:#0074D9;
}

.colonne:hover
{
	background-color:#8A90FF;
}

.confusion tbody tr.jetonJoueur1 td
{	
	background-color:grey;
}

.confusion tbody tr.jetonJoueur2 td
{	
	background-color:grey;
}

.colonne tbody tr.jetonNeutre td {
    background-color: grey;
}